<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <commands>
      <command name="crownpeakdqm:previewtab" type="Crownpeak.Sitecore.DQM.Commands.ShowPreviewTab, Crownpeak.Sitecore.DQM" />
    </commands>
    <settings>
      <setting name="Crownpeak.ApiKey" value="{{API_KEY}}" />
      <setting name="Crownpeak.WebsiteId" value="{{WEBSITE_ID}}" />
      <setting name="Crownpeak.RetryCount" value="5" />

      <!--Put value = 0 to stop loggng otherwise put value = 1-->
      <setting name="Crownpeak.Log" value="1" />

      <!--Remove this property if you dont want to override the Api base URL otherwise put the tergeted Api URL in the value-->
      <!--<setting name="Crownpeak.ApiUrl" value="<endpoint>" />-->
      
    </settings>
  </sitecore>
</configuration>
